<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/font/stylesheet.css">
    <link rel="stylesheet" href="/css/lightslider.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
    <title>{{title}}</title>

</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="">
            <span>zoopay.uz</span>
        </a>
        <div class="bl_search">
            <div class="d-flex">

                <input type="text" name="search" oninput="searchApi(event)" placeholder="Введите слово для поиска">
                <button type="submit"><svg enable-background="new 0 0 32 32" height="40" viewBox="0 0 32 32" width="40" xmlns="http://www.w3.org/2000/svg"><g id="find"><path d="m27.709 26.295-7.667-7.707c1.222-1.536 1.958-3.477 1.958-5.588 0-4.962-4.037-9-9-9s-9 4.038-9 9 4.037 9 9 9c2.132 0 4.09-.749 5.634-1.992l7.657 7.697c.195.197.452.295.709.295.255 0 .51-.097.705-.291.392-.39.394-1.023.004-1.414zm-21.709-13.295c0-3.86 3.141-7 7-7s7 3.14 7 7-3.141 7-7 7-7-3.14-7-7zm11.339-3.508c.28.476.122 1.089-.354 1.369-.159.095-.334.139-.506.139-.343 0-.676-.176-.862-.492-.407-.69-1.059-1.181-1.835-1.38-.774-.201-1.584-.086-2.273.321-.475.28-1.089.122-1.369-.354s-.122-1.088.354-1.369c1.149-.678 2.494-.869 3.789-.535 1.291.333 2.378 1.15 3.056 2.301z" fill='#fff'/></g></svg></button>
            </div>
            <div class="search__list">

            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between mob_menu">
            <a href="/profile/msg" class="msgs">
                <span class="msgs_count"></span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V13C0 13.7956 0.316071 14.5587 0.87868 15.1213C1.44129 15.6839 2.20435 16 3 16H14.59L18.29 19.71C18.3834 19.8027 18.4943 19.876 18.6161 19.9258C18.7379 19.9755 18.8684 20.0008 19 20C19.1312 20.0034 19.2613 19.976 19.38 19.92C19.5626 19.845 19.7189 19.7176 19.8293 19.5539C19.9396 19.3901 19.999 19.1974 20 19V3C20 2.20435 19.6839 1.44129 19.1213 0.87868C18.5587 0.316071 17.7956 0 17 0ZM18 16.59L15.71 14.29C15.6166 14.1973 15.5057 14.124 15.3839 14.0742C15.2621 14.0245 15.1316 13.9992 15 14H3C2.73478 14 2.48043 13.8946 2.29289 13.7071C2.10536 13.5196 2 13.2652 2 13V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H17C17.2652 2 17.5196 2.10536 17.7071 2.29289C17.8946 2.48043 18 2.73478 18 3V16.59Z" fill="black"/>
                </svg>
            </a>
            <a href="/favs/" class="favs_list">
                <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>
            </a>
            <div class="authreg">
                {{#if isAuth}}
                <a href="/profile">{{user.name}}</a>
                {{else}}
                <a href="/auth/login" class="auth"><svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.71 11.7096C14.6904 10.9383 15.406 9.88056 15.7572 8.68358C16.1085 7.4866 16.0779 6.2099 15.6698 5.0311C15.2617 3.85231 14.4963 2.83003 13.4801 2.10649C12.4639 1.38296 11.2474 0.994141 10 0.994141C8.75255 0.994141 7.53611 1.38296 6.51993 2.10649C5.50374 2.83003 4.73834 3.85231 4.33021 5.0311C3.92208 6.2099 3.89151 7.4866 4.24276 8.68358C4.59401 9.88056 5.3096 10.9383 6.29 11.7096C4.61007 12.3827 3.14428 13.499 2.04889 14.9396C0.953495 16.3801 0.26956 18.0909 0.0699967 19.8896C0.0555513 20.021 0.0671132 20.1538 0.104022 20.2807C0.140931 20.4075 0.202464 20.5259 0.285108 20.629C0.452016 20.8371 0.69478 20.9705 0.959997 20.9996C1.22521 21.0288 1.49116 20.9514 1.69932 20.7845C1.90749 20.6176 2.04082 20.3749 2.07 20.1096C2.28958 18.1548 3.22168 16.3494 4.68822 15.0384C6.15475 13.7274 8.0529 13.0027 10.02 13.0027C11.9871 13.0027 13.8852 13.7274 15.3518 15.0384C16.8183 16.3494 17.7504 18.1548 17.97 20.1096C17.9972 20.3554 18.1144 20.5823 18.2991 20.7467C18.4838 20.911 18.7228 21.0011 18.97 20.9996H19.08C19.3421 20.9695 19.5817 20.8369 19.7466 20.6309C19.9114 20.4248 19.9881 20.162 19.96 19.8996C19.7595 18.0958 19.0719 16.3806 17.9708 14.9378C16.8698 13.4951 15.3969 12.3791 13.71 11.7096ZM10 10.9996C9.20887 10.9996 8.43551 10.765 7.77772 10.3255C7.11992 9.88599 6.60723 9.26128 6.30448 8.53037C6.00173 7.79947 5.92251 6.9952 6.07686 6.21928C6.2312 5.44335 6.61216 4.73062 7.17157 4.17121C7.73098 3.6118 8.44371 3.23084 9.21964 3.0765C9.99556 2.92215 10.7998 3.00137 11.5307 3.30412C12.2616 3.60687 12.8863 4.11956 13.3259 4.77736C13.7654 5.43515 14 6.20851 14 6.99964C14 8.0605 13.5786 9.07792 12.8284 9.82806C12.0783 10.5782 11.0609 10.9996 10 10.9996Z" fill="black"/>
                </svg></a>

                {{/if}}
            </div>
            
        </div>
        <div class="fmobile down">
            <a href="/" class="btnhome">
                <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.0001 6.99952L11.0001 1.73952C10.4501 1.24756 9.73803 0.975586 9.00009 0.975586C8.26216 0.975586 7.55012 1.24756 7.00009 1.73952L1.00009 6.99952C0.682463 7.28359 0.428995 7.63207 0.256567 8.02176C0.0841385 8.41145 -0.00329256 8.8334 9.47941e-05 9.25952V17.9995C9.47941e-05 18.7952 0.316165 19.5582 0.878775 20.1208C1.44138 20.6834 2.20445 20.9995 3.00009 20.9995H15.0001C15.7957 20.9995 16.5588 20.6834 17.1214 20.1208C17.684 19.5582 18.0001 18.7952 18.0001 17.9995V9.24952C18.0021 8.82508 17.9139 8.40506 17.7416 8.0172C17.5692 7.62934 17.3165 7.28247 17.0001 6.99952ZM11.0001 18.9995H7.00009V13.9995C7.00009 13.7343 7.10545 13.4799 7.29299 13.2924C7.48052 13.1049 7.73488 12.9995 8.00009 12.9995H10.0001C10.2653 12.9995 10.5197 13.1049 10.7072 13.2924C10.8947 13.4799 11.0001 13.7343 11.0001 13.9995V18.9995ZM16.0001 17.9995C16.0001 18.2647 15.8947 18.5191 15.7072 18.7066C15.5197 18.8942 15.2653 18.9995 15.0001 18.9995H13.0001V13.9995C13.0001 13.2039 12.684 12.4408 12.1214 11.8782C11.5588 11.3156 10.7957 10.9995 10.0001 10.9995H8.00009C7.20444 10.9995 6.44138 11.3156 5.87877 11.8782C5.31616 12.4408 5.00009 13.2039 5.00009 13.9995V18.9995H3.00009C2.73488 18.9995 2.48052 18.8942 2.29299 18.7066C2.10545 18.5191 2.00009 18.2647 2.00009 17.9995V9.24952C2.00027 9.10753 2.03069 8.96721 2.08931 8.8379C2.14794 8.70858 2.23343 8.59323 2.3401 8.49952L8.34009 3.24952C8.52258 3.0892 8.75719 3.00078 9.00009 3.00078C9.243 3.00078 9.47761 3.0892 9.66009 3.24952L15.6601 8.49952C15.7668 8.59323 15.8523 8.70858 15.9109 8.8379C15.9695 8.96721 15.9999 9.10753 16.0001 9.24952V17.9995Z" fill="black"/>
                </svg>
                Главная
            </a>
            <a href="/favs/" class="btnfav">
                <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>
                Избранные
            </a>
            <a href="/ads/create" class="btnnew">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 7H9V1C9 0.734784 8.89464 0.48043 8.70711 0.292893C8.51957 0.105357 8.26522 0 8 0C7.73478 0 7.48043 0.105357 7.29289 0.292893C7.10536 0.48043 7 0.734784 7 1V7H1C0.734784 7 0.48043 7.10536 0.292893 7.29289C0.105357 7.48043 0 7.73478 0 8C0 8.26522 0.105357 8.51957 0.292893 8.70711C0.48043 8.89464 0.734784 9 1 9H7V15C7 15.2652 7.10536 15.5196 7.29289 15.7071C7.48043 15.8946 7.73478 16 8 16C8.26522 16 8.51957 15.8946 8.70711 15.7071C8.89464 15.5196 9 15.2652 9 15V9H15C15.2652 9 15.5196 8.89464 15.7071 8.70711C15.8946 8.51957 16 8.26522 16 8C16 7.73478 15.8946 7.48043 15.7071 7.29289C15.5196 7.10536 15.2652 7 15 7Z" fill="black"/>
                </svg>
                Создать
            </a>
            <a href="/profile/msg" class="btnauth">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V13C0 13.7956 0.316071 14.5587 0.87868 15.1213C1.44129 15.6839 2.20435 16 3 16H14.59L18.29 19.71C18.3834 19.8027 18.4943 19.876 18.6161 19.9258C18.7379 19.9755 18.8684 20.0008 19 20C19.1312 20.0034 19.2613 19.976 19.38 19.92C19.5626 19.845 19.7189 19.7176 19.8293 19.5539C19.9396 19.3901 19.999 19.1974 20 19V3C20 2.20435 19.6839 1.44129 19.1213 0.87868C18.5587 0.316071 17.7956 0 17 0ZM18 16.59L15.71 14.29C15.6166 14.1973 15.5057 14.124 15.3839 14.0742C15.2621 14.0245 15.1316 13.9992 15 14H3C2.73478 14 2.48043 13.8946 2.29289 13.7071C2.10536 13.5196 2 13.2652 2 13V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H17C17.2652 2 17.5196 2.10536 17.7071 2.29289C17.8946 2.48043 18 2.73478 18 3V16.59Z" fill="black"/>
                </svg>
                Сообшение
            </a>
                {{#if isAuth}}
                    <a href="/profile" class="btnauth">
                        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.71 11.7096C14.6904 10.9383 15.406 9.88056 15.7572 8.68358C16.1085 7.4866 16.0779 6.2099 15.6698 5.0311C15.2617 3.85231 14.4963 2.83003 13.4801 2.10649C12.4639 1.38296 11.2474 0.994141 10 0.994141C8.75255 0.994141 7.53611 1.38296 6.51993 2.10649C5.50374 2.83003 4.73834 3.85231 4.33021 5.0311C3.92208 6.2099 3.89151 7.4866 4.24276 8.68358C4.59401 9.88056 5.3096 10.9383 6.29 11.7096C4.61007 12.3827 3.14428 13.499 2.04889 14.9396C0.953495 16.3801 0.26956 18.0909 0.0699967 19.8896C0.0555513 20.021 0.0671132 20.1538 0.104022 20.2807C0.140931 20.4075 0.202464 20.5259 0.285108 20.629C0.452016 20.8371 0.69478 20.9705 0.959997 20.9996C1.22521 21.0288 1.49116 20.9514 1.69932 20.7845C1.90749 20.6176 2.04082 20.3749 2.07 20.1096C2.28958 18.1548 3.22168 16.3494 4.68822 15.0384C6.15475 13.7274 8.0529 13.0027 10.02 13.0027C11.9871 13.0027 13.8852 13.7274 15.3518 15.0384C16.8183 16.3494 17.7504 18.1548 17.97 20.1096C17.9972 20.3554 18.1144 20.5823 18.2991 20.7467C18.4838 20.911 18.7228 21.0011 18.97 20.9996H19.08C19.3421 20.9695 19.5817 20.8369 19.7466 20.6309C19.9114 20.4248 19.9881 20.162 19.96 19.8996C19.7595 18.0958 19.0719 16.3806 17.9708 14.9378C16.8698 13.4951 15.3969 12.3791 13.71 11.7096ZM10 10.9996C9.20887 10.9996 8.43551 10.765 7.77772 10.3255C7.11992 9.88599 6.60723 9.26128 6.30448 8.53037C6.00173 7.79947 5.92251 6.9952 6.07686 6.21928C6.2312 5.44335 6.61216 4.73062 7.17157 4.17121C7.73098 3.6118 8.44371 3.23084 9.21964 3.0765C9.99556 2.92215 10.7998 3.00137 11.5307 3.30412C12.2616 3.60687 12.8863 4.11956 13.3259 4.77736C13.7654 5.43515 14 6.20851 14 6.99964C14 8.0605 13.5786 9.07792 12.8284 9.82806C12.0783 10.5782 11.0609 10.9996 10 10.9996Z" fill="black"/>
                        </svg>
                        Профиль
                    </a>
                {{else}}
                    <a href="/auth/login" class="btnauth"><svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.71 11.7096C14.6904 10.9383 15.406 9.88056 15.7572 8.68358C16.1085 7.4866 16.0779 6.2099 15.6698 5.0311C15.2617 3.85231 14.4963 2.83003 13.4801 2.10649C12.4639 1.38296 11.2474 0.994141 10 0.994141C8.75255 0.994141 7.53611 1.38296 6.51993 2.10649C5.50374 2.83003 4.73834 3.85231 4.33021 5.0311C3.92208 6.2099 3.89151 7.4866 4.24276 8.68358C4.59401 9.88056 5.3096 10.9383 6.29 11.7096C4.61007 12.3827 3.14428 13.499 2.04889 14.9396C0.953495 16.3801 0.26956 18.0909 0.0699967 19.8896C0.0555513 20.021 0.0671132 20.1538 0.104022 20.2807C0.140931 20.4075 0.202464 20.5259 0.285108 20.629C0.452016 20.8371 0.69478 20.9705 0.959997 20.9996C1.22521 21.0288 1.49116 20.9514 1.69932 20.7845C1.90749 20.6176 2.04082 20.3749 2.07 20.1096C2.28958 18.1548 3.22168 16.3494 4.68822 15.0384C6.15475 13.7274 8.0529 13.0027 10.02 13.0027C11.9871 13.0027 13.8852 13.7274 15.3518 15.0384C16.8183 16.3494 17.7504 18.1548 17.97 20.1096C17.9972 20.3554 18.1144 20.5823 18.2991 20.7467C18.4838 20.911 18.7228 21.0011 18.97 20.9996H19.08C19.3421 20.9695 19.5817 20.8369 19.7466 20.6309C19.9114 20.4248 19.9881 20.162 19.96 19.8996C19.7595 18.0958 19.0719 16.3806 17.9708 14.9378C16.8698 13.4951 15.3969 12.3791 13.71 11.7096ZM10 10.9996C9.20887 10.9996 8.43551 10.765 7.77772 10.3255C7.11992 9.88599 6.60723 9.26128 6.30448 8.53037C6.00173 7.79947 5.92251 6.9952 6.07686 6.21928C6.2312 5.44335 6.61216 4.73062 7.17157 4.17121C7.73098 3.6118 8.44371 3.23084 9.21964 3.0765C9.99556 2.92215 10.7998 3.00137 11.5307 3.30412C12.2616 3.60687 12.8863 4.11956 13.3259 4.77736C13.7654 5.43515 14 6.20851 14 6.99964C14 8.0605 13.5786 9.07792 12.8284 9.82806C12.0783 10.5782 11.0609 10.9996 10 10.9996Z" fill="black"/>
                    </svg>
                        Профиль
                    </a>
                {{/if}}

        </div>

    </header>
    <navbar>
        {{#if hideCat}}
            {{else}}
            <button onclick="document.querySelector('navbar .cats__list').classList.toggle('show')">
                <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 10H1C0.734784 10 0.48043 10.1054 0.292893 10.2929C0.105357 10.4804 0 10.7348 0 11C0 11.2652 0.105357 11.5196 0.292893 11.7071C0.48043 11.8946 0.734784 12 1 12H11C11.2652 12 11.5196 11.8946 11.7071 11.7071C11.8946 11.5196 12 11.2652 12 11C12 10.7348 11.8946 10.4804 11.7071 10.2929C11.5196 10.1054 11.2652 10 11 10ZM1 2H19C19.2652 2 19.5196 1.89464 19.7071 1.70711C19.8946 1.51957 20 1.26522 20 1C20 0.734784 19.8946 0.48043 19.7071 0.292893C19.5196 0.105357 19.2652 0 19 0H1C0.734784 0 0.48043 0.105357 0.292893 0.292893C0.105357 0.48043 0 0.734784 0 1C0 1.26522 0.105357 1.51957 0.292893 1.70711C0.48043 1.89464 0.734784 2 1 2ZM19 5H1C0.734784 5 0.48043 5.10536 0.292893 5.29289C0.105357 5.48043 0 5.73478 0 6C0 6.26522 0.105357 6.51957 0.292893 6.70711C0.48043 6.89464 0.734784 7 1 7H19C19.2652 7 19.5196 6.89464 19.7071 6.70711C19.8946 6.51957 20 6.26522 20 6C20 5.73478 19.8946 5.48043 19.7071 5.29289C19.5196 5.10536 19.2652 5 19 5Z" fill="black"/>
                </svg>
                Категории
            </button>

        {{/if}}
        <ul class="nav">
            {{#if user.control}}
                <li><a href="/admin">Админ панель</a></li>
                
            {{else}}
<!--                <li class="active"><a href="/ads/">Товары и услуги</a></li>-->
            {{/if}}
        </ul>
        <ul class="social">
            <li>
                <a href="https://www.facebook.com/zoopayuz" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.9 2H3.1C2.80826 2 2.52847 2.11589 2.32218 2.32218C2.11589 2.52847 2 2.80826 2 3.1V20.9C2 21.0445 2.02845 21.1875 2.08373 21.321C2.13901 21.4544 2.22004 21.5757 2.32218 21.6778C2.42433 21.78 2.54559 21.861 2.67905 21.9163C2.81251 21.9715 2.95555 22 3.1 22H12.68V14.25H10.08V11.25H12.68V9C12.6261 8.47176 12.6885 7.93813 12.8627 7.43654C13.0369 6.93495 13.3188 6.47755 13.6885 6.09641C14.0582 5.71528 14.5068 5.41964 15.0028 5.23024C15.4989 5.04083 16.0304 4.96225 16.56 5C17.3383 4.99521 18.1163 5.03528 18.89 5.12V7.82H17.3C16.04 7.82 15.8 8.42 15.8 9.29V11.22H18.8L18.41 14.22H15.8V22H20.9C21.0445 22 21.1875 21.9715 21.321 21.9163C21.4544 21.861 21.5757 21.78 21.6778 21.6778C21.78 21.5757 21.861 21.4544 21.9163 21.321C21.9715 21.1875 22 21.0445 22 20.9V3.1C22 2.95555 21.9715 2.81251 21.9163 2.67905C21.861 2.54559 21.78 2.42433 21.6778 2.32218C21.5757 2.22004 21.4544 2.13901 21.321 2.08373C21.1875 2.02845 21.0445 2 20.9 2Z" fill="black"/></svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/zoopayuz/" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 9.52C11.5095 9.52 11.03 9.66545 10.6222 9.93795C10.2144 10.2105 9.89648 10.5978 9.70878 11.0509C9.52107 11.5041 9.47196 12.0028 9.56765 12.4838C9.66334 12.9649 9.89954 13.4068 10.2464 13.7536C10.5932 14.1005 11.0351 14.3367 11.5162 14.4323C11.9972 14.528 12.4959 14.4789 12.9491 14.2912C13.4022 14.1035 13.7895 13.7856 14.062 13.3778C14.3346 12.97 14.48 12.4905 14.48 12C14.48 11.6743 14.4159 11.3518 14.2912 11.0509C14.1666 10.7501 13.9839 10.4767 13.7536 10.2464C13.5233 10.0161 13.2499 9.83341 12.9491 9.70878C12.6482 9.58415 12.3257 9.52 12 9.52ZM21.93 7.07C21.9247 6.29776 21.7825 5.53257 21.51 4.81C21.3093 4.28126 20.9987 3.80109 20.5988 3.40119C20.1989 3.00128 19.7187 2.69072 19.19 2.49C18.4674 2.21746 17.7022 2.07526 16.93 2.07C15.64 2 15.26 2 12 2C8.74 2 8.36 2 7.07 2.07C6.29776 2.07526 5.53257 2.21746 4.81 2.49C4.28126 2.69072 3.80109 3.00128 3.40119 3.40119C3.00128 3.80109 2.69072 4.28126 2.49 4.81C2.21746 5.53257 2.07526 6.29776 2.07 7.07C2 8.36 2 8.74 2 12C2 15.26 2 15.64 2.07 16.93C2.08076 17.705 2.22277 18.4725 2.49 19.2C2.68983 19.7263 3.00013 20.2037 3.4 20.6C3.79819 21.0023 4.27939 21.3129 4.81 21.51C5.53257 21.7825 6.29776 21.9247 7.07 21.93C8.36 22 8.74 22 12 22C15.26 22 15.64 22 16.93 21.93C17.7022 21.9247 18.4674 21.7825 19.19 21.51C19.7206 21.3129 20.2018 21.0023 20.6 20.6C20.9999 20.2037 21.3102 19.7263 21.51 19.2C21.7823 18.4739 21.9244 17.7055 21.93 16.93C22 15.64 22 15.26 22 12C22 8.74 22 8.36 21.93 7.07ZM19.39 15.07C19.3579 15.6871 19.2262 16.295 19 16.87C18.8059 17.3497 18.5173 17.7854 18.1514 18.1514C17.7854 18.5173 17.3497 18.8059 16.87 19C16.2895 19.2136 15.6783 19.3318 15.06 19.35C14.27 19.35 14.06 19.35 12 19.35C9.94 19.35 9.73 19.35 8.94 19.35C8.32173 19.3318 7.71049 19.2136 7.13 19C6.6341 18.8157 6.18628 18.5217 5.82 18.14C5.45767 17.7813 5.17784 17.3479 5 16.87C4.78556 16.2901 4.67061 15.6782 4.66 15.06C4.66 14.27 4.66 14.06 4.66 12C4.66 9.94 4.66 9.73 4.66 8.94C4.67061 8.32183 4.78556 7.70988 5 7.13C5.18428 6.6341 5.47827 6.18628 5.86 5.82C6.22033 5.45962 6.65326 5.18009 7.13 5C7.71049 4.78641 8.32173 4.66821 8.94 4.65C9.73 4.65 9.94 4.65 12 4.65C14.06 4.65 14.27 4.65 15.06 4.65C15.6783 4.66821 16.2895 4.78641 16.87 5C17.3659 5.18428 17.8137 5.47827 18.18 5.86C18.5423 6.21875 18.8222 6.65213 19 7.13C19.2136 7.71049 19.3318 8.32173 19.35 8.94C19.35 9.73 19.35 9.94 19.35 12C19.35 14.06 19.42 14.27 19.39 15.06V15.07ZM17.79 7.63C17.6709 7.30698 17.4832 7.01364 17.2398 6.77021C16.9964 6.52678 16.703 6.33906 16.38 6.22C15.9365 6.06626 15.4693 5.99179 15 6C14.22 6 14 6 12 6C10 6 9.78 6 9 6C8.52827 6.00461 8.06107 6.09263 7.62 6.26C7.30193 6.37366 7.01169 6.55371 6.76858 6.7882C6.52547 7.02269 6.33506 7.30624 6.21 7.62C6.06478 8.06537 5.99383 8.5316 6 9C6 9.78 6 10 6 12C6 14 6 14.22 6 15C6.00991 15.4712 6.09777 15.9375 6.26 16.38C6.37906 16.703 6.56678 16.9964 6.81021 17.2398C7.05364 17.4832 7.34698 17.6709 7.67 17.79C8.09667 17.9469 8.54565 18.0347 9 18.05C9.78 18.05 10 18.05 12 18.05C14 18.05 14.22 18.05 15 18.05C15.4717 18.0454 15.9389 17.9574 16.38 17.79C16.703 17.6709 16.9964 17.4832 17.2398 17.2398C17.4832 16.9964 17.6709 16.703 17.79 16.38C17.9574 15.9389 18.0454 15.4717 18.05 15C18.05 14.22 18.05 14 18.05 12C18.05 10 18.05 9.78 18.05 9C18.0503 8.5278 17.9621 8.05972 17.79 7.62V7.63ZM12 15.82C11.4988 15.82 11.0026 15.7211 10.5397 15.529C10.0768 15.3369 9.6563 15.0554 9.30238 14.7005C8.94846 14.3457 8.66803 13.9245 8.47714 13.4611C8.28626 12.9977 8.18868 12.5012 8.19 12C8.19 11.2441 8.4143 10.5051 8.83449 9.87669C9.25468 9.24828 9.85187 8.75866 10.5505 8.46983C11.2491 8.181 12.0177 8.10594 12.7589 8.25415C13.5002 8.40236 14.1808 8.76717 14.7147 9.30241C15.2485 9.83764 15.6116 10.5192 15.7578 11.2609C15.9041 12.0026 15.827 12.771 15.5363 13.4688C15.2457 14.1666 14.7545 14.7625 14.125 15.1811C13.4955 15.5996 12.7559 15.822 12 15.82ZM16 8.93C15.7789 8.9066 15.5744 8.80222 15.4257 8.63697C15.277 8.47172 15.1947 8.25729 15.1947 8.035C15.1947 7.81271 15.277 7.59828 15.4257 7.43303C15.5744 7.26778 15.7789 7.1634 16 7.14C16.2211 7.1634 16.4256 7.26778 16.5743 7.43303C16.723 7.59828 16.8053 7.81271 16.8053 8.035C16.8053 8.25729 16.723 8.47172 16.5743 8.63697C16.4256 8.80222 16.2211 8.9066 16 8.93Z" fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://t.me/zoopayuz" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9944 2C10.0166 2 8.08318 2.58649 6.43869 3.6853C4.7942 4.78412 3.51247 6.3459 2.75559 8.17317C1.99872 10.0004 1.80068 12.0111 2.18654 13.9509C2.57239 15.8907 3.5248 17.6725 4.92332 19.0711C6.32185 20.4696 8.10368 21.422 10.0435 21.8079C11.9833 22.1937 13.994 21.9957 15.8212 21.2388C17.6485 20.4819 19.2103 19.2002 20.3091 17.5557C21.4079 15.9112 21.9944 13.9778 21.9944 12C21.9945 10.6868 21.7359 9.38634 21.2334 8.17304C20.7309 6.95973 19.9943 5.8573 19.0657 4.92869C18.1371 4.00008 17.0347 3.26349 15.8214 2.76098C14.608 2.25847 13.3076 1.99989 11.9944 2ZM15.1739 17.1525C15.1365 17.2458 15.0795 17.33 15.0069 17.3996C14.9342 17.4691 14.8475 17.5223 14.7527 17.5556C14.6578 17.5889 14.5569 17.6015 14.4567 17.5926C14.3565 17.5837 14.2594 17.5535 14.1719 17.504L11.4572 15.3946L9.71491 17.002C9.67448 17.0319 9.62719 17.0511 9.57739 17.0579C9.52758 17.0647 9.47687 17.0589 9.42991 17.0409L9.76391 14.0525L9.7746 14.061L9.78143 14.002C9.78143 14.002 14.6664 9.55445 14.8654 9.36496C15.0669 9.17596 15.0004 9.13496 15.0004 9.13496C15.0119 8.90443 14.6389 9.13496 14.6389 9.13496L8.16639 13.299L5.4709 12.381C5.4709 12.381 5.0569 12.2325 5.0179 11.906C4.9769 11.582 5.48439 11.406 5.48439 11.406L16.2014 7.14849C16.2014 7.14849 17.0824 6.75597 17.0824 7.406L15.1739 17.1525Z" fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UC3Pmetm55X3zLKt1SoLtvjg" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23 9.71047C23.0495 8.27913 22.7365 6.85849 22.09 5.58047C21.6514 5.05607 21.0427 4.70218 20.37 4.58047C17.5875 4.328 14.7936 4.22452 12 4.27047C9.21667 4.22243 6.43274 4.32257 3.66003 4.57047C3.11185 4.67019 2.60454 4.92731 2.20003 5.31047C1.30003 6.14047 1.20003 7.56047 1.10003 8.76047C0.954939 10.918 0.954939 13.0829 1.10003 15.2405C1.12896 15.9159 1.22952 16.5863 1.40003 17.2405C1.5206 17.7455 1.76455 18.2128 2.11003 18.6005C2.51729 19.0039 3.03641 19.2757 3.60003 19.3805C5.75594 19.6466 7.92824 19.7569 10.1 19.7105C13.6 19.7605 16.67 19.7105 20.3 19.4305C20.8775 19.3321 21.4112 19.06 21.83 18.6505C22.11 18.3704 22.3191 18.0276 22.44 17.6505C22.7977 16.5531 22.9733 15.4046 22.96 14.2505C23 13.6905 23 10.3105 23 9.71047ZM9.74003 14.8505V8.66047L15.66 11.7705C14 12.6905 11.81 13.7305 9.74003 14.8505Z" fill="black"/>
                    </svg>
                </a>
            </li>
        </ul>
        <a href="mailto:zoopayuz@gmail.com" class="phone">zoopayuz@gmail.com</a>
        <a href="tel:998712004446" class="phone">+998 71 200 44 46</a>
        <a href="/ads/create" class="add_advert">Добавить объявление</a>
        <div class="cats__list"></div>
    </navbar>
