<h1>{{blog.title}}</h1>
<p><a href="/blog/{{blog.slug}}" target="_blank">Natija</a></p>
<div class="badge">{{blog.status}}</div>
<img src="/{{blog.img}}" alt="" width="300" aria-live="center">
<div class="text">
    {{{blog.text}}}
</div>